@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: "Merriweather", "Inter", sans-serif;
}

/* Shared Styles */
.cmn-clr{
    color: rgba(255, 0, 0, 1);
}
.cmn-style{
    font-family: Inter;
}
/* Banner Section Styles */
.container{
    margin-top: 100px;
    width: 82.5%;
    max-width: 1320px;
    margin: 0 auto;
}
.banner{
    margin-top: 50px;
    background-image: linear-gradient(180.00deg, rgba(7, 2, 17, 1),rgba(7, 2, 17, 0) 100%), url(../Assets/images/Banner\ Image.png);
    background-size: cover;
    height: 600px;
    border-radius: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.banner .banner-heading{
    color: rgba(255, 255, 255, 1);
    text-align: center;
    padding: 177px 344px;
}
.banner .banner-heading h3{
    font-size: 32px;
    font-weight: 400;
    margin-bottom: 16px;
}
.banner .banner-heading h1{
    font-size: 72px;
    font-weight: 900;
}

/* Happy New Year Section Styles */
.hny{
    margin: 0 auto;
    margin-top: 120px;
    text-align: center;
}
.hny .hny-heading h1{
    font-size: 88px;
    font-weight: 700;
    margin-bottom: 48px;
    font-family: Inter;
}
.hny .hny-heading h3{
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 16px;
    font-family: Inter;
}
.hny .hny-heading h2{
    color: rgba(7, 2, 17, 1);
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 48px;
    font-family: Inter;
}

/* Midnight Party Section Styles */
.midnight-party .party{
    margin-top: 120px;
    background-image: linear-gradient(90.00deg, rgba(7, 2, 17, 1),rgba(7, 2, 17, 0) 100%), url(../Assets/images/Vectorrr.png);
    background-repeat: no-repeat;
    border-radius: 16px;
    height: 600px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.midnight-party .party .party-heading h1{
    width: 642px;
    color: rgba(255, 255, 255, 1);
    font-size: 64px;
    font-weight: 900;
    margin-bottom: 24px;
}
.midnight-party .party .party-heading p{
    width: 697px;
    color: rgba(255, 255, 255, 0.8);
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 48px;
}
.midnight-party .party .party-heading button{
    background: none;
    border: none;
    color: rgba(255, 255, 255, 1);
    margin-left: 32px;
    width: 120px;
    height: 40px;
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
}
.midnight-party .party .party-heading button:hover{
    background-color: rgba(255, 255, 255, 1);
    color: black;
    border-radius: 5px;
    cursor: pointer;
}

/* Place Date Time Section Styles */
.place-date-time .pdt{
    margin-top: 120px;
    height: 482px;
    border-radius: 16px;
    background: linear-gradient(180.00deg, rgba(255, 0, 0, 0.1),rgba(255, 0, 0, 0) 100%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.place-date-time .pdt .pdt-content{

    width: 549px;
    height: 168px;
    text-align: center;
}
.place-date-time .pdt .pdt-content h1{
    font-family: Inter;
    font-size: 32px;
    font-weight: 600;
    margin-bottom: 20px; 
}
.place-date-time .pdt .pdt-content button{
    margin-top: 48px;
    width: 167px;
    height: 56px;
    font-size: 20px;
    font-weight: 700;
    border: none;
    border-radius: 8px;
    background-color: rgba(255, 0, 0, 1);
    color: rgba(255, 255, 255, 1);
    cursor: pointer;
}
.place-date-time .pdt .pdt-content button:hover{
    border: 2px solid rgba(255, 0, 0, 1);
    color: rgba(255, 0, 0, 1);
    background: none;
}

/* Best Offer Section Styles */
.bo-content{
    margin-top: 120px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.bo-content .bo-text{
    width: 393px;
    margin-right: 70px;
}
.bo-content .bo-text h3{
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 16px;
}
.bo-content .bo-text h1{
    color: rgba(7, 2, 17, 1);
    font-size: 48px;
    font-weight: 900;
    margin-bottom: 22px;
}
.bo-content .bo-text p{
    color: rgba(7, 2, 17, 0.6);
    font-size: 20px;
    font-weight: 400;
}
.bo-content .bo-img{
    width: 463px;
    height: 463px;
    border: 15px solid rgba(255, 0, 0, 1);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.bo-content .bo-img img{
    width: 364.84px;
    height: 364.84px;
}
.bo-content .bo-text-2{
    width: 276px;
    margin-left: 118px;
}
.bo-content .bo-text-2 h1{
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 16px;
}
.bo-content .bo-text-2 p{
    color: rgba(7, 2, 17, 0.6);
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 48px;
}

/* Holidays Sale Section Styles */
.hs{
    margin-top: 120px;
}
.hs .hs-text{
    text-align: center;
    margin: 0 auto;
    width: 66.75%;
    max-width: 1068px;
}
.hs .hs-text h3{
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 16px;
}
.hs .hs-text h1{
    font-size: 72px;
    font-weight: 900;
    margin-bottom: 28px;
}
.hs .hs-text p{
    color: rgba(7, 2, 17, 0.6);
    font-size: 20px;
    font-weight: 500;
    line-height: 32px;
    margin-bottom: 68px;
}
.hs .hs-img{
    background-image: url(../Assets/images/Rectangle\ 2.png);
    background-repeat: no-repeat;
    border-radius: 16px 0px 16px 16px;
    background-position: bottom;
}
.hs .hs-img .right-side{
    display: flex;
    justify-content: space-between;
    align-items: top;
}
.hs .hs-img .right-side .tag-bg{
    background-image: url(../Assets/images/Rectangle\ 1.png);
    background-repeat: no-repeat;
    width: 429px;
    height: 433px;
    position: relative;
}
.hs .hs-img .right-side .tag-bg .tag {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(-50%, -50%);
}

/* Best Gifts Section Styles */
.b-g{
    margin-top: 120px;
}
.b-g-text{
    margin-bottom: 48px;
    text-align: left;
}
.b-g .b-g-text h3{
    font-size: 24px;
    font-weight: 500;
}
.b-g .b-g-text h1{
    color: rgba(7, 2, 17, 1);
    font-size: 48px;
    font-weight: 900;
}
.b-g .b-g-text p{
    width: 896px;
    color: rgba(7, 2, 17, 0.6);
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
}
.b-g .gift-img .img1{
    width: 100%;
    display: flex;
    gap: 24px;
    border-radius: 16px;
    margin-bottom: 24px;
}
.b-g .gift-img .img2{
    width: 100%;
    display: flex;
    border-radius: 16px;
    gap: 24px;
}